:root.dark {
  --text-0: rgba(255, 255, 255, 87%);
  --text-1: rgba(255, 255, 255, 60%);

  --bg-0: #121212;
  --bg-1: rgba(255, 255, 255, 5%);
  --bg-2: rgba(23, 23, 23, 100%);

  --primary-color: #11959a;
  --hover-color: white;

  .social>img {
    filter: invert(1);
  }
}
